<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="1000">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="file" filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log" append="true"
                     filename="logs/logFile.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file" level="all"/>
        </Root>
    </Loggers>
</Configuration>
